<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hrl.bluetoothlowenergy">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="63880c9b3303a52481b5acd056f1e7e3dddb07ed" />

        <activity android:name=".activity.OnboardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.DeviceConnectionActivity" />

        <service
            android:name=".bluetooth.service.BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".activity.DeviceControlActivity" />
        <activity
            android:name=".activity.DeviceScanActivity"
            android:label="@string/title_activity_device_scan" />
        <activity
            android:name=".activity.DeviceDetailsActivity"
            android:label="@string/title_activity_device_details" />
        <activity
            android:name=".activity.ConnectionActivity"
            android:label="@string/title_activity_connection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CaptureImageActivity"
            android:label="@string/title_activity_capture_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>